@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bg-custom{
  background: #F2F6FF;
}

.btn-primary{
  background: #F2F6FF;
  color: #234CAD;
  border: none;
}
.btn-outline-primary{
  color: #234CAD;
  border: 1px solid #234CAD;
}

/* STYLING DIBAWAH */

/* NAVBAR */
#navbar .navbar{
  background-color: white !important;
}
#navbar ul li a{
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;

  color: #234CAD;
}
/* END */

/* HEADER */
#header .kotak{
  width: 100%;
  height: auto;
  margin: 60px 0;
  padding: 30px 10px 20px 80px;
  background: #F2F6FF;
  border-radius: 60px;
}
/* END */